<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CSAM image review application</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
  {% endblock %}
  {% block css %}{% endblock %}
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/submitted_images">
        <div class="sidebar-brand-icon">
          <i class="fas fa-user-ninja"></i>
        </div>

        <div class="sidebar-brand-text mx-3">MODTOOLS</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Submitted Images -->
      <li class="nav-item">
        <a class="nav-link" href="/submitted_images">
          <i class="fas fa-fw"></i>
          <span>Submitted Images</span></a>
      </li>

      <!-- Escalated Images -->
      {% if current_user.role == 'admin' %}
      <li class="nav-item">
        <a class="nav-link" href="/escalated_images">
          <i class="fas fa-fw"></i>
          <span>Escalated Images</span>
        </a>
      </li>
      {% endif %}

      <!-- Plugins -->
      <li class="nav-item">
        <a class="nav-link" href="/plugins">
          <i class="fas fa-fw "></i>
          <span>Plugins</span></a>
      </li>

      <!-- APIs -->
      <li class="nav-item">
        <a class="nav-link" href="/apis">
          <i class="fas fa-fw "></i>
          <span>APIs</span></a>
      </li>

      <!-- Manage users -->
      {% if current_user.role == 'admin' %}
      <li class="nav-item">
        <a class="nav-link" href="/manage_users">
          <i class="fas fa-fw"></i>
          <span>Manage users</span></a>
      </li>
      {% endif %}
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Welcome Message -->
            <li class="nav-item">
              <p class="nav-link text-muted font-weight-bold">{{ session['user_name'] }}</p>
            </li>

            <!-- Nav Item - Logout -->
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center" href="/logout_user">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-primary"></i>
                <span class="text-primary">Logout</span>
              </a>
            </li>
          </ul>

        </nav>
        <!-- End of Topbar -->

        {% block content %} {% endblock %}


        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2020</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login">Logout</a>
          </div>
        </div>
      </div>
    </div>
    {% block js %}
    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js')}}"></script>

    {% endblock %}
</body>

</html>
